body {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "studenti grupe";
    grid-gap: 1px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

#dio_tabela {
    display: none;
}

#meni {
    width: 100%;
    height: 100px;
    background-color: gray;
    grid-area: header;
}

#studenti {
    width: 100%;
    height: auto;
    max-height: 100%;
    float: left;
    background-color: gray;
    /*border: 1px solid red;*/
    grid-area: studenti;
    display: grid;
    grid-template-columns: auto auto auto;
}

#grupe {
    width: 100%;
    height: auto;
    max-height: 100%;
    background-color: blue;
    grid-area: grupe;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    height: 100%;
    padding: 5px;
}

table td {
    padding: 8px;
}

.student {
    margin: 20px;
    width: 80%;
    /*width: 250px;*/
    text-align: center;
    border: 1px solid black;
}


@media (max-width: 799px) {
    /* CSS that should be displayed if width is equal to or less than 499px goes here */
    #dio_tabela {
        display: revert;
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "grupe"
        "studenti";
    }

    #full_tabela {
        display: none;
    }

    #meni {
        width: 100%;
        background-color: red;
        grid-area: header;
    }

    #studenti {
        width: 100%;
        grid-area: studenti;
    }

    .student {
        margin: 20px;
        width: 70%;
        padding: 5px;
        /*width: 250px;*/
        text-align: center;
    }

    #grupe {
        width: 100%;
        grid-area: grupe;
    }
}

@media (max-width: 500px) {
    /* CSS that should be displayed if width is equal to or less than 499px goes here */
    /*#meni a {*/
    /*    width: 100%;*/
    /*}*/
    li {
        clear: both;
    }
    #grupelnk {
        display: inline-block;
        width: 100%;
    }
    #vjezbelnk {
        display: inline-block;
        width: 100%;
    }

    #dio_tabela {
        display: revert;
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "grupe"
        "studenti";
    }

    #full_tabela {
        display: none;
    }

    #meni {
        width: 100%;
        background-color: black;
        grid-area: header;
    }

    #studenti {
        width: 100%;
        grid-area: studenti;
    }

    .student {
        margin: 20px;
        width: 70%;
        padding: 5px;
        /*width: 250px;*/
        text-align: center;
    }

    #grupe {
        width: 100%;
        grid-area: grupe;
    }
}