*{
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "odabirVjezbe grafovi grafovi"
    "odabirVjezbe grafovi grafovi";
    grid-gap: 1px;
}

#odabirVjezbe {
    grid-area: odabirVjezbe;
}

#meni {
    width: 100%;
    height: 100px;
    background-color: gray;
    grid-area: header;
}

#odabirVjezbe {
    width: 100%;
}

.vjezba {
    width: 100%;
    height: 50px;
    background-color: deepskyblue;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
}

#zadaci {
    padding: 5px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, auto) );
}

.zadatak {
    display: inline;
    background-color: #0fd10c;
    padding: 15px;
    margin: 5px;
}

#grafovi {
    grid-area: grafovi;
    max-height: 100%;
    margin-top: 8px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "graf graf"
        "graf graf";
}

.graf {
    width: 100%;
    height: 100%;
    background-image: url("../images/graf.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 799px) {
    body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "odabirVjezbe"
        "grafovi";
    }

    #meni {
        width: 100%;
        background-color: red;
        grid-area: header;
    }

    #grafovi {
        grid-area: grafovi;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "graf"
        "graf"
        "graf"
        "graf";
    }

    .graf {
        width: 100%;
        height: 200px;
        background-image: url("../images/graf.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

}

@media (max-width: 500px) {
    #grupelnk {
        display: inline-block;
        width: 100%;
    }

    #vjezbelnk {
        display: inline-block;
        width: 100%;
    }

    .zadatak {
        padding: 10px;
    }
}