    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=button] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=button]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-50 {
        float: left;
        width: 50%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    .row {
        margin-top: 8px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media (max-width: 799px) {
        .col-25, .col-75, .col-50, input[type=button] {
            width: 100%;
            margin-top: 0;
        }
        .container {
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }